<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{'/adminPage'}">Admin <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{'/adminPage/seeProducts'}">Products</a>
            <a class="nav-item nav-link" th:href="@{'/adminPage/addProduct'}">Add product</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
    </div>
</nav>


</body>
</html>